@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root {
  --text-color: #124a63;
  --text-secondary: #8da1a8;

  --primary-color: #21b6b7;

  --bacground-color: #f9f9f9;
  --bacground-color-dark: #eef3f6;
  --bacground-color-light: #white;

  --font-family: 'Poppins', sans-serif;
  --box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);

  --scrollbar: rgb(209, 201, 201);
  --thumb: rgb(158, 152, 152);
}

[data-theme='dark'] {
  --text-color: #f0f0f0;
  --text-secondary: #b3c5cd;

  --primary-color: #21b6b7;

  --bacground-color: #252329;
  --bacground-color-dark: #3c393f;
  --bacground-color-light: #120f13;

  --scrollbar: #333;
  --thumb: #fff;
}

::-webkit-scrollbar {
  width: 10px;
  background: var(--scrollbar);
}

::-webkit-scrollbar-thumb {
  background: var(--thumb);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--bacground-color);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}
